.storie-action {
  padding: 16px;
  text-align: center;

  button {
    padding: 8px;
    border-radius: 8px;
    outline: none !important;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: var(--default-font);
    color: var(--font-color);
  }
}

.post-text__short {
  // text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  letter-spacing: auto;
}

.post-text__short-1 {
  -webkit-line-clamp: 2;
}

.post-text__short-2 {
  -webkit-line-clamp: 6;
}

.post-text__short-3 {
  -webkit-line-clamp: 12;
}

.post-text__short-4 {
  -webkit-line-clamp: 14;
}
