.storie-action {
  padding: 16px;
  text-align: center;

  button {
    padding: 8px;
    border-radius: 8px;
    outline: none !important;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: var(--default-font);
    color: var(--font-color);
  }
}

.post-text__short-1 {
  max-height: 160px;
}

.post-text__short-2 {
  max-height: 214px;
}

.post-text__short-3 {
  max-height: 324px;
}

.post-text__short-4 {
  max-height: 464px;
}
