


  


//   .header-nav :hover span {
//     opacity: 1;
//     transform: translateY(0px);
//   }
  
// span:active,
// span:hover {
// 	outline: 0;
// }
  
// .header-nav span {
// 	transition: all 300ms ease-out;
// 	position: absolute;
// 	width: 100%;
// 	bottom: 4px;
// 	height: 5px;
// 	background: #ee534a;
// 	left: 0;
// 	transform: translateY(7px);
// 	opacity: 0;    
// }
  

  

	
		
	// .col {
	// 	width: 33.33%;
	// 	padding: 20px 10px;

	// 	@media (max-width: $md) {
	// 		width: 50%;  
	// 		padding: 0 auto;   
	// 	}

	// 	@media (max-width: $sm) {
	// 		width: 440px;  
	// 		margin: 0 auto;   
	// 	}	
	// }
  

  
  // .hover-image-scale {
  //   display: inline-block; 
  //   overflow: hidden;  
  // }
  // .hover-image-scale a {
  //   transition: 1s; 
  //   display: block; 
  // }
  // .hover-image-scale a:hover {
  //   transform: scale(1.2); 
  // }

   
 .footer {	
	 	display: block; 	
		text-align: center;		
		background-color: var(--font-color);

	.img-ukraine {
		background: url("assets/images/ukraine.png");  
		background-size:cover;  
		height: 200px; 
		width: 200px; 
		margin: 0 auto 50px;
		overflow: hidden;
		border-radius: 50%;		 
	}

	.footer-text {
		font-family: var(--default-font);     
    	font-size: 45px;
	}	
}
